@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

body{
  background-color: #02010f;
  color:#df9b58
}

header.container{
  position: relative;
  text-align: center;
  padding-bottom: 10px;
  width:max-content; 
}
header p.bottom-left{
  font-family: 'Oleo Script Swash Caps', cursive;
  position:absolute;
  font-size: 150px;
  color: #df9b58;
  text-shadow: 20px 00px 7px black;
  text-align: center;
  text-decoration: underline;
  bottom: 8px;
  left: 16px;
  opacity: 85%;
}

main img{
  float: right;
  margin-left: 0px;
}

article{
  display:block;
  max-width: 850px;
}

#pIntro{
  font-family: 'Macondo', cursive;
  font-style: italic;
  font-weight: 500;
  height: 110px;
  width: 425px;
  border: 10px;
  border-style: ridge;
  border-color: #465897;
  border-radius: 80px 50px;
  background-color: rgb(92, 90, 90);
  box-shadow: -5px -10px rgb(92 90 90);
  text-align: center;
  padding: 5px 15px 5px 25px;
}

ul{
  list-style: disc;
  justify-content:center; 
  font-family: 'Macondo', cursive;
  height: auto;
  width: 200px;
  border: 15px;
  border-style:ridge;
  border-color: rgb(92, 90, 90);
  background-color: #465897;
  border-radius: 15px;
  box-shadow: -5px -10px #465897;
  padding-left: 100px;
}

#p3{
  font-family: 'Macondo', cursive;
  font-style: italic;
  height: 50px;
  width: 450px;
  border: 10px;
  border-style: ridge;
  border-radius: 80px 50px;
  border-color: #465897;
  box-shadow: -5px -5px rgb(92 90 90);
  background-color: rgb(92, 90, 90);
  text-align: center;
  margin-top: 20px;
  padding-left: 5px 15px 5px 25px;
}
h2{
  margin-top: 20px;
  text-shadow: 2px 2px 7px black;
  font-size:xx-large;
  font-style:oblique;
  color:#df9b58;
  padding-bottom: 5px;
  padding-left: 100px;
}

#edu{
  padding-left: 200px;
}
ol{
  font-family: 'Macondo', cursive;
  counter-reset: none;
  list-style:decimal;
  padding-left: 250px;
}
