@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');
body{
  background-color: blanchedalmond;
  margin: 5px;
  padding: 5px;
  color:rgb(149, 60, 28)
}


h1{
  font-family: 'Oleo Script Swash Caps', cursive;
 background-color: blue;
 font-size: xx-large;
 color: orange;
 text-align: center;
 text-decoration: underline;
}

main{
  padding-top: 10px;
  display:inline-block;
}

/* article{ */
  /* align-items: center; */
/* } */

#p1{
  font-family: 'Macondo', cursive;
  height: 130px;
  width: 400px;
  border: 10px;
  border-style: ridge;
  border-color: rgb(112, 2, 2);
  text-align: center;
}

#p2{
  
  font-family: 'Macondo', cursive;
  margin-left:200px;
  height: 130px;
  width: 400px;
  border: 15px;
  border-style:ridge;
  border-color: rgb(255, 255, 255);
  text-align: center;
}

#p3{
  font-family: 'Macondo', cursive;
  margin-left:400px;
  height: 100px;
  width: 400px;
  border: 10px;
  border-style: ridge;
  border-color: rgb(3, 3, 105);
  text-align: center;
}